a
{
	font-size: 20px; color:#CD5C5C; padding: 8%;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
ul
{
min-width:1050px;
}
body
{
	background: #FFEBCD	;
}

.menu{
	text-align:center;
	margin: auto
}

header {
  display: grid;
  grid-template-columns:  25% 50% 25%;
  grid-template-rows: repeat(1, 130px);
}

.item-a {
  grid-column: 1;
  padding: 20px;
}
.item-b {
   grid-column: 2;
   text-align:center;
   margin: auto
}
.item-c {
  grid-column: 3;
  text-align:center;
  margin: auto
}

main {
	
	display: grid;
	grid-template-columns:  repeat(3, 1fr);
	grid-template-rows: repeat(3, 320px);
	color:#A0522D;
}

.name{
	text-align:center;
	margin: auto
	padding: 5% 0;
	height:370px;
	padding-top:125px;
}
name:hover{
	text-decoration:underline;
}
.image>img{
	margin: auto;
   	width:370;
	height:280;
}

.about{
	text-align:center;
	margin: auto
	padding: 20px;
	padding-top:115px;
}
.item-1{
	grid-column: 1;
	grid-row:1;
}
.item-4{
	grid-column: 2;
	grid-row:1;
}
.item-7{
	grid-column: 3;
	grid-row:1;
}
.item-2{
	grid-column: 1;
	grid-row:2;
}
.item-5{
	grid-column: 2;
	grid-row:2;
}

.item-8{
	grid-column: 3;
	grid-row:2;
}
.item-3{
	grid-column: 1;
	grid-row:3;

}
.item-6{
	grid-column: 2;
	grid-row:3;
}

.item-9{
	grid-column: 3;
	grid-row:3;
}
footer{
	text-align: center;
	face:Times New Roman;
	color:#8B4513
}
